p {
    position: absolute;
    color: rgba(255, 255, 255, 0.075);
    font-size: 100px;
    line-height: 1;         /* ajuda a centralizar melhor visualmente */
    width: auto;
    height: auto;
    text-align: center;
    z-index: 100;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Canvas full screen */
canvas {
    display: block;
    width: 100%;
    height: 100%;
}