button#activesawer {
    position: absolute;
    color: rgb(0, 0, 0);
    background-color: white;
    width: 20%;
    height: 50px;
    text-align: center;
    z-index: 100;

    /* canto direito, centro vertical */
    right: 10px;           /* distância do canto direito */
    top: 40%;              /* centro vertical */
    transform: translateY(-50%);  /* ajusta o centro real do botão */
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Canvas full screen */
canvas {
    display: block;
    width: 100%;
    height: 100%;
}